@model List<AllMentors>
@{
    Layout = "_Layout";
}
@section Css {
<link rel="stylesheet" href="/css/mentors.css">
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Description</td>
                @if (User.IsInRole("Student"))
                {
                    <td>
                        <button class="request-btn"
                                onclick="location.href='@Url.Action("SendRequest", "Mentor",new {mentorusername= item.UserName})'">
                         Request Mentorship
                        </button>
                    </td>
                }           
            </tr>
        }        
    </tbody>
</table>


@section Scripts {
    @* <script src="/js/mentors.js"></script> *@
    @* <script src="/js/reports.js"></script> *@
}